.footer{
  background: var(--main-regular);
  padding-top: 50px;
  padding-bottom: 50px;
  &__title{
    font-weight: var(--font-medium);
    font-size: 21px;
    line-height: 1.190;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  &__policy{
    font-size: 13px;
    line-height: 1.615;
    color: #FFFFFF;
    font-weight: var(--font-regular);
  }
}