.header{
  padding-top: 79px;
  margin-bottom: 151px;
}
.header__nav {
  &-list {
    display: flex;
    gap: 42px;
  }
  &-link{
    text-transform: uppercase;
    font-weight: var(--font-medium);
    letter-spacing: 0.1em;
    color: var(--text-dark);
    &:hover,
    &:focus{
      color: var(--main-regular);
    }
  }
}